*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}


/* general rules */
.container{
    width: 80%;
    margin: 40px auto;
    height: 100%;
}

.container-header-no{
    width: 80%;
    margin: 0px auto;
    height: 100%;
}


.flex{
    display: flex;
    justify-content: space-between;
}

.fl-wrap{
    flex-wrap: wrap;
}

.ali-end{
    align-items: flex-end;
}

.jus-end{
    align-items: flex-end;
}

.align-center{
align-items: center;
}

a{
    text-decoration: none;
    list-style-type: none;
}

.ptb-76{
    padding: 76px 0;
}

.plr-8{
    padding: 0 80px;
}

.mt-5{
    margin: 50px 0;
}

.mt-3{
    margin-top: 30px;
}

.mb-2{
    margin-bottom: 20px;
}

.mb-6{
    margin-bottom: 60px;
}

.mr-2{
    margin-right: 20px;
}

.pd-2{
    padding: 20px;
}

.pd-4{
    padding: 40px 0;
}

.pb-3{
    padding-bottom: 30px;
}

.pt-3{
    padding-top: 30px;
}

.pdb-3{
    padding-bottom: 30px;
}

.pd-3-2{
    padding: 30px 20px;
}

.mrtb-15{
    margin: 15px 0;
}

.button-small{
    padding: 10px 15px;
    border-radius: 40px;
}

.button-big{
    padding: 10px 40px;
    border-radius: 40px;
}

.bg-v{
    background-color: #9792e4;
}

.bg-w{
    background-color: white;
}

.bg-strong-blue{
    background-color: #0084fd;
}

.bg-light-blue{
    background-color: #b5ddff;
}

.center{
    text-align: center;
}

.co-font{
    color: #5f7486;
}

.font-blue{
    color: #0a89fd;
}

.font-white{
    color: white;
}



/* rules header */

header{
    background-color: #0084fd;
    height: 76px;
    width: 100%;
    position: fixed;
    z-index: 500;
}

header, li{
    display: inline;

}

header, a{
    margin-right: 20px;
    color: white;

}

#menu{
    display: none;
}

.no-margin{
    width: 80%;
    margin: 0px auto;
    height: 100%;
}


/* main rules */

.card{
    width: calc(100%/3 - 20px);
    border-radius: 40px;
    padding: 30px 20px;
}

.card-big{
    width: calc((100% / 3) * 2 - 20px);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

.line-height{
    line-height: 130%;
    font-size: 20px;
}

.img-phone{
    width: 90%;
    align-items: flex-end;
}


.fa-solid{
    font-size: 60px;
}

.row{
    display: flex;
    justify-content: space-between;
}


/* section strategic planning */

.col-sx{
    width: calc(100% / 2 - 20px);
    padding-top: 70px;
    margin-right: 20px;
}

.col-dx{
    width: calc(100% / 2 - 20px);
    padding-top: 70px;
}

.img-planning{
    width: 90%;
}

.card-app{
    background-color: white;
    border-radius: 40px;
    padding: 35px;
}

.img-app{
    width: 70%;
}

.button-round{
    padding: 10px;
    border-radius: 100%;
    background-color: #9792e4;
}

.container-strategic{
    display: flex;
    align-items: flex-end;
}

.fa-arrow-down{
    font-size: 15px;
    color: black;
}


/* section testimonial */
.text{
 /* debug */
    width: 100%;
    height: 100px;
    background-color: bisque;
}


.title-testimonial{
    color: #9792e4;
    margin: 40px 0;
    font-size: 40px;
}

.test-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9792e4;
    border-radius: 40px;
    margin:30px 0;
    padding: 40px;
    text-align: left;
}

.test-text{
    width: 80%;
}

.img-round{
    width: 20%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    
}

.fa-quote-right, .fa-quote-left{
    font-size: 20px;
}

.signature{
    margin-top: 30px;
    color: white;
}


/* section benefits */

.ben-card{
    width: calc(100%/3) ;

    /* Debug */
    height: 100px;
    background-color: aliceblue;
    border: solid 2px black;
    margin: 10PX 0;
}

/* section about us */

.ab-col-sx{
    width: 85%;

    /* debug */
    height: 500px;
    background-color: brown;
    margin: 20px 0 ;
}

.ab-col-dx{
    width: 15%;

    /* debug */
    height: 500px;
    background-color: yellow;
    margin: 20px 0;
}

/* section get strated */

.get{
    height: 300px;
}

.text-big{
    /* debug */
    height: 300px;
    background-color: antiquewhite;
}


/* footer */

footer{
    height: 200px;
    background-color: black;
}




/* tablet version */

@media all and (max-width: 768px) {
    
    .container{
        width: 90%;
    }
    /* header rules */
    #menu-desktop{
        display: none;
    }

    #menu{
        display: inline;
    }

    /* section introduction */
    .card-big{
        display: block;
    }

    /* section strategic */
    .container-strategic{
        display: block;
    }

    .col-sx{
        width: 100%;
    }

    .col-dx{
        width: 100%;
    }
}






/* smartphone version */
@media all and (max-width: 480px) {
    .container{
        width: 95%;
    }
    /* section introduction */
    .row{
        display: block;
    }

    .card, .card-big{
        width: 100%;
        margin-bottom: 20px;
    }
}